<!doctype html>
<html lang="pt-br"
      xlmns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <title>Cadastro de Pessoa</title>

    <style type="text/css">
        table.striped>body>tr:nth-child(odd){
        background-color: rgba(158, 154, 154, 0.5);
        }

        form input[type=submit]{
            color:white;
        }


    </style>
</head>
<body>
<h3>Spring Boot + Thymeleaf + Material Design Lite</h3>
<h5 style="margin-top:50px;">Cadastro de Pessoa</h5>

<div class="row">

    <div th:each="m : ${msg}"> <!-- each vai varrer uma lista a de erros -->
        <span style="color:red; font-size:20px; margin-left:20px; margin-top:30px;" th:text=${m}>
	      </span> <!-- passa um texto com nosso objeto de msg dos erro de validação -->
    </div>

    <form action="salvarpessoa" class="col s12" id="formpessoa" method="post" th:object="${pessoaobj}">

        <div class="row">
            <div class="input-fiel col s2">
                <label class="active" for="id">ID</label>
                <input id="id" name="id" readonly="true" th:field="*{id}">
            </div>
            <div class="input-fiel col s10">
                <label class="active" for="nome">Nome</label>
                <input class="validate" id="nome" name="nome" th:field="*{nome}">
            </div>
        </div>

        <div class="row">
            <div class="input-fiel col s12" >
                <label class="active" for="sobrenome">Sobrenome</label>
                <input class="validate" id="sobrenome" name="sobrenome" th:field="*{sobrenome}">
            </div>
            <div class="input-fiel col s12">
                <label class="active" for="idade">Idade</label>
                <input class="validate" id="idade" name="idade" th:field="*{idade}" type="number">
            </div>
        </div>

        <div class="row">
            <div class="input-fiel col s6">
                <input class="waves-effect waves-light btn" type="submit" value="Salvar">
                <button class="waves-effect waves-light btn" onclick="document.getElementById('formPessoa').reset();">
                    Novo
                </button>
            </div>
        </div>


    </form>
</div>
</br>
</br>


<div class="row">
    <form action="pesquisarpessoa" class="col s12" method="post" style="margin-top:30px;">
        <div class="row">
            <div class="input-fiel col s12">
                <label clas="active" for="nomepesquisa">Pesquisa por nome:</label>
                <input class="validate" id="nomepesquisa" name="nomepesquisa">
                <input class="waves-effect waves-light btn" type="submit" value="Buscar">
                <a class="waves-effect waves-light btn" href="/listapessoas">Lista de Pessoas</a>
            </div>
        </div>


    </form>

    <table class="striped" style="margin-top:30px;">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        </thead>
        <tr th:each="pessoa : ${pessoas}">
            <td th:text="${pessoa.id}"></td>
            <td><a th:href="@{telefones/{idpessoa}(idpessoa=${pessoa.id})}"><span th:text="${pessoa.nome}"></span></a>
            </td>
            <td th:text="${pessoa.sobrenome}"></td>
            <td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td>
            <td><a th:href="@{removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Remover</a></td>
        </tr>
    </table>

</body>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</html>